@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --backgroundscreencrt: #D8C9B4;
    --mainColor: #000000;
    --secondColor: #ffffff;
    --cardColors: #121212;
    --terciaryColor: #a259ff;
    --accentHoverColor: #C084FC;
    --titleMainColor: #FFFFFF;
    --textColor: #FFFFFF;
    --btnTextColor: #FFFFFF;
    --btnTextColorhover: #000000;
    --btnBackground: #000000;
    --btnBackgroundhover: #FFFFFF;
    --btnBackgroundCtaColor: #A259FF;
    --btnBackgroundCtaHoverColor: #C084FC;
    --font-title: "Press Start 2P", sans-serif, arial;
    --font-default: "Poppins", arial, sans-serif;
}

@keyframes glow {
  0% { box-shadow: 0 0 5px rgba(162, 89, 255, 0.2); }
  50% { box-shadow: 0 0 15px rgba(161, 89, 255, 0.664); }
  100% { box-shadow: 0 0 5px rgba(162, 89, 255, 0.2); }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    background-color: var(--backgroundscreencrt) !important;
    z-index: 2;
    min-height: 100vh;
    top: 0; 
    left: 0;
    width: 100%;
    background: repeating-linear-gradient(
        to bottom,
        var(--secondColor) 0,
        var(--secondColor) 1px,
        transparent 2px,
        transparent 3px
    );
}

* {
    margin: 0;
}

/* HEADER */
#header {
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--mainColor);
    position: fixed;
}

#header .container {
    width: 90%;
    margin: auto;
}

#header .container .flex {
    display: flex;
}

#header .container .flex .flex-col1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

#header .container .flex .flex-col1 .headerLogo {
    display: block;
}

#header .container .flex .flex-col1 .headerLogo img {
    width: 150px;
    height: 100px;
}

#header .container .flex .flex-col2 {
    align-content: center;
    flex-basis: 50%;
    text-align: right;
}

#header .container .flex .flex-col2 .header-menu {
    display: block;
    text-align: right;
    font-size: 2rem;
    margin: 10px;
    color: var(--textColor);
    transition: ease-in-out 0.3s;
}

#header .container .flex .flex-col2 .header-menu:hover {
    color: var(--accentHoverColor);
}

#header .container .flex .flex-col2 .header-nav {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

#header .container .flex .flex-col2 .header-nav .nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn {
    display: block;
    background-color: var(--btnBackground);
    color: var(--textColor) !important;
    font-family: var(--font-default);
    font-size: medium;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn:hover {
    background-color: var(--btnBackgroundhover);
    color: var(--btnTextColorhover) !important;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .nav-btn-models {
    display: block;
    color: var(--textColor) !important;
    background-color: var(--terciaryColor);
    font-family: var(--font-default);
    font-size: medium;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .nav-btn-models:hover {
    background-color: var(--accentHoverColor);
    color: var(--btnTextColorhover) !important;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .dropdown-menu {
    background-color: var(--btnBackground);
    color: var(--btnTextColor);
    text-align: center;
    --bs-dropdown-padding-y: 0 !important;
    --bs-dropdown-min-width: 0rem !important;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .dropdown-menu li .dropdown-item {
    font-family: var(--font-default);
    font-size: medium;
    color: var(--btnTextColor);
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .dropdown-menu li .dropdown-item:hover {
    font-size: medium;
    color: var(--btnTextColorhover);
}

#header .container .flex .flex-col2 .header-nav.active {
    display: block;
}

/* sectionFilter */

.sectionFilter{
    position: relative;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem; 
    margin-top: 6rem;
    background-image: url(/assets/store_page_images/sectionFilter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sectionFilter::after{
        background: linear-gradient(
        rgb(0, 0, 0) 0%,
        rgba(255, 255, 255, 0) 25%,
        rgba(255, 255, 255, 0) 75%,
        rgba(0, 0, 0, 0) 100%
    );
    inset: 0px;
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 3;
}

.sectionFilter .sectionTitle{
    color: var(--textColor);
    font-family: var(--font-default);
    text-align: center;
}

.sectionFilter .sectionTitle2{
    color: var(--textColor);
    font-family: var(--font-default);
    text-align: center;
}

.filters{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
}

.filters .searchInput{
    font-family: var(--font-default);
    color: var(--textColor);
    background-color: var(--cardColors);
    border: 5px solid var(--terciaryColor);
    height: 40px;
    width: 60vw;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
    z-index: 4;
}

.filters .searchInput:hover{
    border: 5px solid var(--accentHoverColor);
}

.filters .searchInput::placeholder{
    text-align: center;
}

.checkboxFilterContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.checkboxFilterContainer .checkboxFilterBtn{
    display: block;
    padding: 5px;
    border-radius: 5px;
    color: var(--textColor) !important;
    background-color: var(--terciaryColor);
    font-family: var(--font-default);
    font-size: medium;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    z-index: 4;
}

.checkboxFilterContainer .checkboxFilterBtn:hover{
    background-color: var(--accentHoverColor);
    color: var(--btnTextColorhover) !important;
    transform: translateY(-2px);
}

.checkboxFilterContainer .checkboxFilterDropdown{
    background-color: var(--btnBackground);
    color: var(--btnTextColor);
    text-align: center;
    z-index: 5;
    --bs-dropdown-padding-y: 0 !important;
    --bs-dropdown-min-width: 0rem !important;
}

.checkboxFilterContainer .checkboxFilterDropdown li{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.checkboxFilterContainer .checkboxFilterDropdown li label{
    display: inline-flex;
    font-family: var(--font-default);
    font-size: medium;
    color: var(--btnTextColor);
    gap: 5px;
}

.checkboxFilterContainer .checkboxFilterDropdown li label input[type="checkbox"]{
    accent-color: var(--terciaryColor);
}

/* sectionProduct */

.sectionProduct{
    background-color: var(--mainColor);
    width: 100%;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem; 
}

.sectionProduct .productContainer{
    display: flex;
    flex-direction: row;
}

.card-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.productContainer .card{
    text-align: center;
    background-color: var(--cardColors);
    height: 450px;
    margin: 10px;
    transition: ease-in-out 0.3s;
    position: relative; /* efeito foda de outline insano */
    overflow: hidden; /* efeito foda de outline insano */
    z-index: 4;
}

.productContainer .card::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px; /* Ajuste a espessura conforme quiser */
    background: var(--secondColor);
    transition: width 0.3s ease, left 0.3s ease;
}

.productContainer .card:hover::after{
    width: 100%;
    left: 0;
}

.productContainer .card:hover{
    background-color: var(--terciaryColor);
    transform: translateY(-8px);
}

.productContainer .card img{
    height: 180px;
}

@media (max-width: 575px) {
    .productContainer .card img{
        height: 300px;
    }
}

@media (max-width: 350px){
    .productContainer .card img{
        height: 200px;
    }
}

.productContainer .card .card-body{
    height: 200px;
}

.productContainer .card .card-body .card_title{
    font: 1em var(--font-default);
    color: var(--textColor);
}

.productContainer .card .card-body .card_cost{
    font: 1em var(--font-default);
    color: var(--textColor);
}

/* footer */

.footer{
    background: linear-gradient(1deg, var(--cardColors), var(--mainColor));
    height: fit-content;
    padding: 20px 0;
    text-align: center;
}

.footer img{
    width: 35%;
}

.footer a{
    color: var(--terciaryColor);
    font-size: 2.3em;
    width: 2.3em;
    text-decoration: none;
    margin: 15px;
    transition: all 0.3s;
}

.footer .footerClass .iconRedes a .itch-icon {
    display: inline-block;
    fill: var(--terciaryColor);
    transition: all 0.3s;

}

.footer .footerClass .iconRedes a:hover .itch-icon{
    fill: var(--accentHoverColor);
}

.footer a:hover{
    color: var(--accentHoverColor);
}

.footer .iconRedes{
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    color: var(--textColor);
    font-family: var(--font-default);
    align-items: center;
    justify-content: center;
}

.footer .dev{
    line-height: 30px;
    color: var(--textColor);
    font-family: var(--font-default);
}

.footer .footerClass{
    text-align: center;
    margin: auto;
}

/* responsive for pc and notebooks */

@media (min-width: 1000px) {

/* header */

    /* ativar essa personalização apenas no caso de querer que fique invisivel */
/* #header{
    background-color: transparent;
    transition: background-color 0.3s ease;
} */

/* #header.scrolled {
    background-color: var(--mainColor);
} */

#header .container{
    width: 1000px;
}

#header .container .flex .flex-col1{
    flex-basis: 30%;
}

#header .container .flex .flex-col1 .headerLogo{
    text-align: left;
}
                    
#header .container .flex .flex-col1 .headerLogo img{
    width: 200px;
    height: 150px;
}

#header .container .flex .flex-col2{
    flex-basis: 70%;
    margin: auto;
}

#header .container .flex .flex-col2 .header-menu{
    display: none;
}

#header .container .flex .flex-col2 .header-nav{
    display: block;
    position: relative;
    text-align: right;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li {
    background-color: none;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li:hover {
    background-color: none;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn{
    border-radius: 5px;
    padding: 0.5rem;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn:hover{
    transform: translateY(-2px);
}

/* os que tem nav-div depois do nav-li são componentes do bootstrap por isso possuem uma classe extra.*/

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .nav-btn{
    display: block;
    color: var(--textColor) !important;
    background-color: var(--btnBackground);
    border-radius: 5px;
    padding: 0.5rem;
    font-family: var(--font-default);
    font-size: medium;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .nav-btn:hover{
    transform: translateY(-2px);
    background-color: var(--btnBackgroundhover);
    color: var(--btnTextColorhover) !important;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .nav-btn-models{
    border-radius: 5px;
    padding: 0.5rem;
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .nav-btn-models:hover {
    transform: translateY(-2px);
}


#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .dropdown-menu{
    background-color: var(--btnBackground);
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .dropdown-menu li .dropdown-item{
    font-family: var(--font-default);
    font-size: medium;
    color: var(--btnTextColor);
}

#header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-div .dropdown-menu li .dropdown-item:hover{
    font-family: var(--font-default);
    font-size: medium;
    color: var(--btnTextColorhover);
}

/* sectionFilter */

.sectionFilter{
    padding-top: 14rem;
    padding-bottom: 14rem;
    margin-top: 6rem; /* desativar apenas no caso de querer que o header fique invisivel */
    background-position: center;
}

.sectionFilter::after{
        background: linear-gradient(
        rgb(0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.12) 75%,
        rgba(0, 0, 0, 0.8) 100%
    );
    inset: 0px;
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 3;
}

.filters .searchInput{
    width: 30vw;
}

/* sectionProduct */


.productContainer .card img{
    height: 200px;
}

.productContainer .card .card-body{
    height: auto;
}

.footer img{
    width: 15%;
}

}