
body{
    background: linear-gradient(1deg, var(--cardColors), var(--mainColor));
}

main {
    width: 100vw;
    position: relative;
}

main .backgroundImage{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.faqContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 16rem;
    padding-bottom: 8rem;
    gap: 5rem;
}

.faqTitle{
    width: fit-content;
    align-self: center;
    text-align: center;
    font: 1.4em var(--font-title);
    color: var(--titleMainColor) !important;
    background: linear-gradient(1deg, var(--cardColors), var(--mainColor));
    border-radius: 5px;
    padding: 1rem;
}

.accordion-item{
    width: 50vw;
    background-color: var(--cardColors) !important;
    position: relative;
    z-index: 3;
}

.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem var(--secondColor) !important;
    transition: all 0.3s;
}

.accordion-button[aria-expanded="false"]:focus {
    box-shadow: none !important;
    outline: none !important;
}

.question-collapse-btn{
    width: 50vw;
    border: 0;
    display: block;
    color: var(--textColor) !important;
    background-color: var(--terciaryColor) !important;
    font-family: var(--font-default);
    font-size: medium;
    text-decoration: none;
    transition: ease-in-out 0.3s !important;
}

.question-collapse-btn:hover{
    background-color: var(--accentHoverColor) !important;
    color: var(--btnTextColorhover) !important;
}



.helplink{
    color: var(--terciaryColor);
    text-decoration: underline;
}

.helplink:hover{
    color: var(--accentHoverColor);
}

 .question-text-collapse{
    font: 1em var(--font-default) !important;
    color: var(--textColor) !important;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.show .accordion-body .question-text-collapse{
    opacity: 1;
    transform: translateY(0);
}